body {
    text-align: center;
    /* color: steelblue; */
    /* background: #cb356b; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, rgb(100, 10, 100, 0.993), rgb(10,100,200)); Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, rgb(100, 10, 100, 0.993), rgb(10,100,200)); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
}

table.table {
    width: 50%;
    text-align: center;
}

h2 {
    height: 100px;
    padding-top: 30px;
}

.chooseTeams {
    padding-bottom: 30px;
    font-size: 30px;
    /* color: steelblue */
}

/* .form-control {
    width:50%;
    margin-left: 25%;
    text-align: center;
} */

.setup {
    margin-top: 50px;
    margin-bottom: 50px;
}

.scores {
    justify-content: center;
}